body{
    color: darkblue;
    background-color: rgb(195, 241, 241);
}

.explanation{
    font-style: italic;
}

.information{
    color: white;
    background-color: darkblue;
    text-decoration: underline;
    border: 1px solid darkblue;
    border-radius: 6px;
}

.text-color{
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.center{
    text-align: center;
    list-style-position: inside;
}